ul {
    list-style-type: none;
    margin-left: 300px;
    margin-right: 300px;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: lightskyblue ;
    color: black;
}

body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}
h1{
    text-align: center;
    color: darkblue;
}
header{
    padding: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-style: ridge;
    border-color: black;
    background-image: url(headerkep.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 15%;
}
/*overlay fade*/
#tartalom{
    border: 5px outset black;
    background-color: /*rgba(100, 149, 237, 0.9)*/cornflowerblue;
    margin-left: 300px;
    margin-right: 300px;
    font-family: cursive;
    text-align: left;
}