li {
    display: inline;
  }

body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    text-align: center;
    color: red;
}
header{
    background-color: bisque;
    padding: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border-style: ridge;
    border-color: black;
}