:root{
    --darkblue: #00008b;
    --lightskyblue: #87cefa;
    --white: #FFFFFF;
    --black: #000000;
    --green: #008000;
    --crimson: #DC143C;
    --orange: #ff8000;
    --darkgray: #A9A9A9;
    --300px: 300px;
    --100px: 100px;
}

nav ul {
    list-style-type: none;
    margin-left: var(--300px);
    margin-right: var(--300px);
    overflow: hidden;
    background-color: var(--darkblue);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: var(--lightskyblue) ;
    color: var(--black);
}

body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}
h1{
    text-align: center;
    color: var(--darkblue);
}
header{
    padding: var(--100px);
    margin-left: var(--300px);
    margin-right: var(--300px);
    border-style: ridge;
    border-color: var(--black);
    background-image: url(headerkep.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 15%;
}
#tartalom{
    border: 5px outset var(--black);
    background-color: /*rgba(100, 149, 237, 0.9)*/cornflowerblue;
    margin-left: var(--300px);
    margin-right: var(--300px);
    font-family: cursive;
    text-align: justify;
    padding: 0px 10px 0px 10px; 
}
section a:link{
    color: var(--green);
}
section a:visited{
    color: var(--crimson);
}
table, tr, td{
    border:1px solid var(--black);
    background-color: var(--orange);
    color: var(--white);
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--darkgray);
    color: var(--white);
    margin-top: 10px;
    border: 5px solid var(--black);
}
.elrend{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    text-align: center;
}
.muvei {
    text-align: center;
}